{% extends 'base.html.twig' %}

{% block title %}Renouvellement du mot de passe{% endblock %}

{% block body %}
    <p>
        Si votre adresse email existe déjà, un email contenant un lien de renouvellement du mot de passe vous a été envoyé.<br>
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Vous n'avez rien reçu ? Vérifiez vos spams.<br>
    Vous pouvez également <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
