{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(contactform) }}
        {{ form_row(contactform.message) }}
        <input type="submit" class="btn btn-primary">
    {{ form_end(contactform) }}
{% endblock %}
